{{> navs/index}}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            <h1>{{this.title}}</h1>
            <h3>{{this.subtitle}}</h3>
        </div>
    </div>
</div>

<div id="articles">
    {{#each articles}}
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title"><a href="{{this.link}}">{{this.title}}</a></h5>
            <form action="/api/articles/save/{{this.id}}" method="POST">
                <button type="submit" class="btn btn-info">Save Article<br>
            </form>
            <form action="/api/articles/dismiss/{{this.id}}?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-warning ">Remove Article<br>
            </form>
            </div>
        </div>
    {{/each}}
</div>
